@model IEnumerable<OSS.Models.viewmodel.GenerateFeesViewModel>

@{
    ViewBag.Title = " Generate Fees";
}

<section class="content">
    <div class="container-fluid">
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="header">
                        <b class="icon">
                            <i class="material-icons">line_style</i> Generate Fees
                        </b>
                        <a title="Add New Record" class="pull-right btn bg-red btn-sm waves-effect" href='@Url.Action("Create", "generatefees")'><i class="material-icons">line_style</i> Create</a>
                        <br />
                    </div>
                    <div class="body">
                        <div class="table-responsive">


                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr class="thead">
                                        <th>
                                            Stage Name
                                        </th>
                                        <th>
                                            Class Name
                                        </th>
                                        <th>
                                            Section Name
                                        </th>
                                        <th>
                                            Fee Type
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
